<h3><%=@question_selector.question[:body] %> <%=@value%>?</h3>
		<div class="row">		
			<% @movies_info[0,3].each do |movie| %>
				<div class="col-sm-4"> 
						<% message = @question_selector.generate_message(movie, @value)%>
						<img src=<%= movie[:poster]%> class="img-responsive" alt=<%= movie[:title]%> onClick="alert('<%=message %>')">
				</div>
			<% end %>
 		</div>

 		<div class="row">		
			<% @movies_info[3,3].each do |movie| %>
				<div class="col-sm-4"> 
						<% message = @question_selector.generate_message(movie, @value)%>
						<img src=<%= movie[:poster]%> class="img-responsive" alt=<%= movie[:title]%> onClick="alert('<%=message %>')">
				</div>
			<% end %>
 		</div>

 		<div class="row">		
			<% @movies_info[6,3].each do |movie| %>
				<div class="col-sm-4"> 
						<% message = @question_selector.generate_message(movie, @value)%>
						<img src=<%= movie[:poster]%> class="img-responsive" alt=<%= movie[:title]%> onClick="alert('<%=message %>')">
				</div>
			<% end %>
 		</div>


