<%sample_year = @movies_info.sample[:year]%>
<h3>Which one was filmed in <%=sample_year%>?
</h3>
		<div class="row">		
			<% @movies_info[0,3].each do |movie| %>
				<div class="col-sm-4"> 
					<a href="">
						<% message = movie[:year] == sample_year ? "Correct!" : "Wrong choice!"%>
						<img src=<%= movie[:poster]%> class="img-responsive" alt=<%= movie[:title]%> onClick="alert('<%=message %>')">
					</a>
				</div>
			<% end %>
 		</div>

 		<div class="row">		
			<% @movies_info[3,3].each do |movie| %>
				<div class="col-sm-4"> 
					<a href="">
						<% message = movie[:year] == sample_year ? "Correct!" : "Wrong choice!"%>
						<img src=<%= movie[:poster]%> class="img-responsive" alt=<%= movie[:title]%> onClick="alert('<%=message %>')">
					</a>
				</div>
			<% end %>
 		</div>

 		<div class="row">		
			<% @movies_info[6,3].each do |movie| %>
				<div class="col-sm-4"> 
					<a href="">
						<% message = movie[:year] == sample_year ? "Correct!" : "Wrong choice!"%>
						<img src=<%= movie[:poster]%> class="img-responsive" alt=<%= movie[:title]%> onClick="alert('<%=message %>')">
					</a>
				</div>
			<% end %>
 		</div>


